{% extends "base.html" %} {% load static %} {% load bootstrap4 %} {% block content %}
<div class="container content">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card d-flex justify-content-center mt-5">
        <div class="card-header">
          <h5 class="title">Add A New Neighborhood</h5>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  {% csrf_token %} {% bootstrap_form form %}
                </div>

                <div class="mt-5">
                  <button type="submit" class="btn btn-warning btn-icon-text">
                    Create a Neighbourhood 
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
