{% if user.is_authenticated %}
<div class="sidebar" data-color="blue">
  <div class="logo">
    <a href="/" class="simple-text logo-mini"> ND </a>
    <a href="/" class="simple-text logo-normal"> NextDoor </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="{%url 'home_page'%}">
          <i class="now-ui-icons design_app"></i>
          <p>NeighborHood</p>
        </a>
      </li>
      <li>
        <a href="{% url 'business' %}">
          <i class="now-ui-icons education_atom"></i>
          <p>Businesses</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="now-ui-icons location_map-big"></i>
          <p>Health Centers</p>
        </a>
      </li>
      <li>
        <a href="{% url 'post' %}">
          <i class="now-ui-icons ui-1_bell-53"></i>
          <p>Notifications</p>
        </a>
      </li>
      <li>
        <a href="{% url 'profile' %}">
          <i class="now-ui-icons users_single-02"></i>
          <p>User Profile</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="now-ui-icons design_bullet-list-67"></i>
          <p>User List</p>
        </a>
      </li>
      <li>
        <a href="{% url 'profile' %}">
          <i class="now-ui-icons text_caps-small"></i>
          <p>A token</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-panel">
  <!-- Navbar -->
  <nav
    class="
      navbar navbar-expand-lg navbar-light
      bg-white
      py-3
      shadow-sm
      sticky-top
    "
  >
    <div class="container">
      <a class="navbar-brand" href="{% url 'profile' %}">
        <strong class="h6 mb-0 font-weight-bold text-uppercase"
          >Get The Api</strong
        ></a
      >
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <form class="form-inline ml-2"  method=POST  action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control mr-1" type="search" placeholder="Search FOr Business" aria-label="Search" name="searched">
            <button class="btn btn-info" type="submit"><i class="fas fa-search"></i></button>
        </form>

          <li>
            <a class="nav-link" href="{% url 'add_hood' %}"> New Hood </a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'new_post' %}"> New Post </a>
          </li>
          <li>
            <a class="nav-link" href="/logout/"> Logout </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
</div>
{% else %} {% endif %}
