{% extends 'base.html' %} {%load bootstrap4%} {% block title %} Register Page {% endblock %} {{block.super}} {% block content %}

<div class="container d-flex justify-content-center">
  <div class="wrap d-flex justify-content-center shadow mt-5">
    <span class="form-title">
      <img src="" alt="IMG" />
    </span>

    <form class="form-validate" method="POST">
      {% csrf_token %}
      <div class="form-group mt-5">{%bootstrap_form form %}</div>

      <div class="mt-5">
        <button type="submit" class="btn btn-warning btn-icon-text">
          SIGN UP
        </button>
      </div>

      <div class="pt-5">
        <span
          >Already have an account? <a href="/accounts/login/">Sign In</a></span
        >
      </div>
    </form>
  </div>
</div>

{%endblock%}
